.input{
  border: 0;
  outline: 0;
  font-size: 16;
  border-radius: 5px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  margin-right: 8;
  box-shadow:  inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;

  &:focus {
    box-shadow:  inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }

}